.controls{
    margin-top: 10px;
}
.controls button{
    float: right;
    width: 100%;
    margin-bottom: 10px;
}
.forgot-password{
    right: 0px;
    float: right;
}
.input-component{
    margin-top: 10px;
    margin-bottom: 20px;
}
.remember-me{
    width: auto;
    float: left;
}
